In [2]:
import datetime as dt
import numpy as np
import pandas as pd
import pytz

from numba import jit
from matplotlib import pyplot as plt
%matplotlib inline

In [61]:
df = pd.read_hdf('./data_backtest_0.hdf').sort_values(by=['close_dt_pst','tsec'])
df['price_chg'] = df['close_next'] - df['close']
df['price_diff'] = df['price'] - df['close']
df['pct_diff'] = df['price_diff']/df['close']
df['close_dt_pst'] = df['close_dt_pst'].apply(lambda x: np.datetime64(x))
df['next_dt'] = df['next_dt'].apply(lambda x: np.datetime64(x))

In [67]:
df.head()

,close_dt_pst,tsec,next_dt,close,price,close_next,price_chg,price_diff,pct_diff
0,2021-03-03 19:33:00,35.0,2021-03-03 19:35:00,1570.71,1574.890688,1574.48,3.77,4.180688,0.002662
1,2021-03-03 19:33:00,35.0,2021-03-03 19:35:00,1570.71,1572.839180,1574.48,3.77,2.129180,0.001356
2,2021-03-03 19:35:00,15.0,2021-03-03 19:37:00,1574.48,1576.943434,1572.93,-1.55,2.463434,0.001565
3,2021-03-03 19:36:00,0.0,2021-03-03 19:38:00,1571.98,1574.888450,1572.30,0.32,2.908450,0.001850
5,2021-03-03 19:39:00,0.0,2021-03-03 19:41:00,1569.15,1573.588614,1565.59,-3.56,4.438614,0.002829

In [80]:
pct_buy = -0.005231
pct_flat = -0.002140
pct_sell = 0.000091
df_trades = pd.DataFrame(columns=['pos','open_time','close_time','open_price','close_price',
                                  'price_max','price_min','type'])
k = 0
df_trades.loc[k,'pos'] = 0
df_trades.loc[k,'price_min'] = df.loc[0,'price']
df_trades.loc[k,'price_min'] = df.loc[0,'price']

# column = np_df[:,0])
np_df = df[['tsec', 'price', 'pct_diff']].to_numpy()
close_dts = df['close_dt_pst'].to_numpy()

In [86]:
close_dts[0] + 35*1000000000

numpy.datetime64('2021-03-03T19:33:35.000000000')

In [7]:
print(df.columns)
df_trades

Index(['close_dt_pst', 'tsec', 'next_dt', 'close', 'price', 'close_next',
       'price_chg', 'price_diff', 'pct_diff'],
      dtype='object')

  pos open_time close_time open_price close_price price_max price_min type
0   0       NaN        NaN        NaN         NaN       NaN   1574.89  NaN

In [115]:
@jit(nopython=True)
def run_bt(np_df, close_dts, pct_buy, pct_flat, pct_sell, num_reps, last_trade):

    x = 23.
    y = 22.
    
    output = np.empty((num_reps, 9), np.float64)
    output[:] = np.nan
    output[0, 0] = 0
    trade_types = np.empty(num_reps)
    
    for i in range(num_reps):
        trade_type=None
        row = np_df[i, :]
        close_dt = close_dts[i]
        pct_diff = row[-1]
        if pct_diff < pct_buy:
            if output[last_trade][0] == 0:
                trade_type = 'open_long'
            elif output[last_trade][0] == -1:
                trade_type = 'flip_long'
        elif pct_diff > pct_sell:
            if output[last_trade][0] == 0:
                trade_type = 'open_short'
            elif output[last_trade][0] == 1:
                trade_type = 'flip_short'

        elif output[last_trade][0] == 1 and pct_diff > pct_flat:
            trade_type = 'close'
        elif output[last_trade][0] == -1 and pct_diff < pct_flat:
            trade_type = 'close'
        output[last_trade][-3] = max(row[1],output[last_trade][-3])
        output[last_trade][-2] = min(row[1],output[last_trade][-2])

        if trade_type is not None:
            if trade_type in ['open_long','open_short']:
                last_trade += 1
                if trade_type == 'open_long':
                    output[0, last_trade] = 1
                else:
                    output[0, last_trade] = -1
                
                output[1, last_trade] = row[0]
                output[2, last_trade] = np.nan
                output[3, last_trade] = row[1]
                output[4, last_trade] = row[1]
                output[5, last_trade] = row[1]
                output[6, last_trade] = row[1]
                output[7, last_trade] = pct_diff
                output[8, last_trade] = np.nan
#                 trade_types[last_trade] = trade_type
        else:
            #first close and then open a new pos if we are flipping
            output[0, last_trade] = 0
            output[4, last_trade] = row[1]
            output[8, last_trade] = pct_diff
            output[2, last_trade] = row[0]
            if trade_type in ['flip_long','flip_short']:
                last_trade += 1
                if trade_type == 'flip_long':
                    output[0, last_trade] = 1
                else:
                    output[0, last_trade] = -1
                output[1, last_trade] = row[0]
                output[2, last_trade] = np.nan
                output[3, last_trade] = row[1]
                output[4, last_trade] = row[1]
                output[5, last_trade] = row[1]
                output[6, last_trade] = row[1]
                output[7, last_trade] = pct_diff
                output[8, last_trade] = np.nan
                #                 if trade_type == 'flip_long':
#                     trade_types[last_trade] = 'open_long'
#                 else:
#                     trade_types[last_trade] = 'open_short'
                
    return output

In [117]:
rez = run_bt(np_df, close_dts, pct_buy, pct_flat, pct_sell, len(np_df), 0)
rez

array([[   0.        ,           nan,           nan, ..., 4350.06816674,
         877.95330861,           nan],
       [          nan,           nan,           nan, ...,           nan,
                  nan,           nan],
       [  15.        ,           nan,           nan, ...,           nan,
                  nan,           nan],
       ...,
       [          nan,           nan,           nan, ...,           nan,
                  nan,           nan],
       [          nan,           nan,           nan, ...,           nan,
                  nan,           nan],
       [          nan,           nan,           nan, ...,           nan,
                  nan,           nan]])

array([[ 0.00000000e+00,             nan,  1.50000000e+01, ...,
         4.35006817e+03,  8.77953309e+02, -1.75842587e-03],
       [            nan,             nan,             nan, ...,
                    nan,             nan,             nan],
       [            nan,             nan,             nan, ...,
                    nan,             nan,             nan],
       ...,
       [            nan,             nan,             nan, ...,
                    nan,             nan,             nan],
       [            nan,             nan,             nan, ...,
                    nan,             nan,             nan],
       [            nan,             nan,             nan, ...,
                    nan,             nan,             nan]])

In [ ]:
df_trades['pnl'] = 0
df_trades['edge'] = np.abs(df_trades['open_price'] - df_trades['open_price']/(1+df_trades['open_pct_diff']))
df_trades.loc[df_trades['type']=='open_short','pnl'] = df_trades['open_price'] - df_trades['close_price']
df_trades.loc[df_trades['type']=='open_long','pnl'] = -(df_trades['open_price'] - df_trades['close_price'])
df_trades.mean()

In [ ]:
df_trades.sort_values(by='pnl')
df_trades

In [ ]:
df