In [1]:
import datetime as dt
import numpy as np
import pandas as pd
import pytz

from matplotlib import pyplot as plt
%matplotlib inline

In [49]:
df = pd.read_hdf('./data_backtest_0.hdf').sort_values(by=['close_dt_pst','tsec'])
df['price_chg'] = df['close_next'] - df['close']
df['price_diff'] = df['price'] - df['close']
df['pct_diff'] = df['price_diff']/df['close']

In [50]:
df

,close_dt_pst,tsec,next_dt,close,price,close_next,price_chg,price_diff,pct_diff
0,2021-03-03 19:33:00,35.0,2021-03-03 19:35:00,1570.71,1574.890688,1574.48,3.77,4.180688,0.002662
1,2021-03-03 19:33:00,35.0,2021-03-03 19:35:00,1570.71,1572.839180,1574.48,3.77,2.129180,0.001356
2,2021-03-03 19:35:00,15.0,2021-03-03 19:37:00,1574.48,1576.943434,1572.93,-1.55,2.463434,0.001565
3,2021-03-03 19:36:00,0.0,2021-03-03 19:38:00,1571.98,1574.888450,1572.30,0.32,2.908450,0.001850
5,2021-03-03 19:39:00,0.0,2021-03-03 19:41:00,1569.15,1573.588614,1565.59,-3.56,4.438614,0.002829
...,...,...,...,...,...,...,...,...,...
298722,2021-06-04 10:10:00,30.0,2021-06-04 10:12:00,2672.14,2668.916576,2672.98,0.84,-3.223424,-0.001206
298720,2021-06-04 10:10:00,35.0,2021-06-04 10:12:00,2672.14,2665.754865,2672.98,0.84,-6.385135,-0.002390
298719,2021-06-04 10:10:00,50.0,2021-06-04 10:12:00,2672.14,2668.603041,2672.98,0.84,-3.536959,-0.001324
298724,2021-06-04 10:11:00,5.0,2021-06-04 10:13:00,2671.23,2666.202389,2671.99,0.76,-5.027611,-0.001882
298725,2021-06-04 10:13:00,15.0,2021-06-04 10:15:00,2671.99,2667.291504,2673.13,1.14,-4.698496,-0.001758

In [51]:
df['pct_diff'] = df['price_diff']/df['close']


pct_buy = -0.005231
pct_flat = -0.002140
pct_sell = 0.000091
df_trades = pd.DataFrame(columns=['pos','open_time','close_time','open_price','close_price',
                                  'price_max','price_min','type'])
k = 0
df_trades.loc[k,'pos'] = 0
df_trades.loc[k,'price_min'] = df.loc[0,'price']
df_trades.loc[k,'price_min'] = df.loc[0,'price']

for i in range(len(df)):
    trade_type = None
    if int(i/10000)*10000 == i:
        print(i,dt.datetime.now())
    row = df.iloc[i]
    if row['pct_diff'] < pct_buy:
        if df_trades.loc[k,'pos'] == 0:
            trade_type = 'open_long'
        elif df_trades.loc[k,'pos'] == -1:
            trade_type = 'flip_long'
    elif row['pct_diff'] > pct_sell:
        if df_trades.loc[k,'pos'] == 0:
            trade_type = 'open_short'
        elif df_trades.loc[k,'pos'] == 1:
            trade_type = 'flip_short'
    elif df_trades.loc[k,'pos'] == 1 and row['pct_diff'] > pct_flat:
        trade_type = 'close'
    elif df_trades.loc[k,'pos'] == -1 and row['pct_diff'] < pct_flat:
        trade_type = 'close'
    df_trades.loc[k,'price_max'] = max(row['price'],df_trades.loc[k,'price_max'])
    df_trades.loc[k,'price_min'] = min(row['price'],df_trades.loc[k,'price_min'])

    if trade_type is not None:
        if trade_type in ['open_long','open_short']:
            k = k + 1
            df_trades.loc[k,'pos'] = 1 if trade_type == 'open_long' else -1
            df_trades.loc[k,'open_price'] = row['price']
            df_trades.loc[k,'open_pct_diff'] = row['pct_diff']
            df_trades.loc[k,'price_max'] = row['price']
            df_trades.loc[k,'price_min'] = row['price']
            df_trades.loc[k,'open_time'] = row['close_dt_pst'] + dt.timedelta(seconds=row['tsec'])
            df_trades.loc[k,'type'] = trade_type
        else:
            #first close and then open a new pos if we are flipping
            df_trades.loc[k,'pos'] = 0
            df_trades.loc[k,'close_price'] = row['price']
            df_trades.loc[k,'close_pct_diff'] = row['pct_diff']
            df_trades.loc[k,'close_time'] = row['close_dt_pst'] + dt.timedelta(seconds=row['tsec'])
            if trade_type in ['flip_long','flip_short']:
                k = k + 1
                df_trades.loc[k,'pos'] = 1 if trade_type == 'flip_long' else -1
                df_trades.loc[k,'open_price'] = row['price']
                df_trades.loc[k,'open_pct_diff'] = row['pct_diff']
                df_trades.loc[k,'price_max'] = row['price']
                df_trades.loc[k,'price_min'] = row['price']
                df_trades.loc[k,'open_time'] = row['close_dt_pst'] + dt.timedelta(seconds=row['tsec'])
                df_trades.loc[k,'type'] = 'open_long' if trade_type == 'flip_long' else 'open_short'
#         print(i,k,trade_type)
#     if i > 10000:
#         break

0 2021-06-06 17:14:32.546757
10000 2021-06-06 17:14:40.928546
20000 2021-06-06 17:14:49.567230
30000 2021-06-06 17:14:57.934528
40000 2021-06-06 17:15:06.814274
50000 2021-06-06 17:15:15.640914
60000 2021-06-06 17:15:25.314109
70000 2021-06-06 17:15:35.229522
80000 2021-06-06 17:15:46.636362
90000 2021-06-06 17:15:58.645938
100000 2021-06-06 17:16:09.724315
110000 2021-06-06 17:16:19.784500
120000 2021-06-06 17:16:30.099053
130000 2021-06-06 17:16:40.770594
140000 2021-06-06 17:16:52.248006
150000 2021-06-06 17:17:04.509415
160000 2021-06-06 17:17:16.448125
170000 2021-06-06 17:17:29.150601
180000 2021-06-06 17:17:42.481699
190000 2021-06-06 17:17:55.474351
200000 2021-06-06 17:18:09.032316
210000 2021-06-06 17:18:23.021722
220000 2021-06-06 17:18:38.001495
230000 2021-06-06 17:18:53.275810
240000 2021-06-06 17:19:07.549348
250000 2021-06-06 17:19:23.030447
260000 2021-06-06 17:19:38.252556
270000 2021-06-06 17:19:54.368909
280000 2021-06-06 17:20:10.976761
290000 2021-06-06 17:20:30.514336

In [56]:
df_trades['pnl'] = 0
df_trades['edge'] = np.abs(df_trades['open_price'] - df_trades['open_price']/(1+df_trades['open_pct_diff']))
df_trades.loc[df_trades['type']=='open_short','pnl'] = df_trades['open_price'] - df_trades['close_price']
df_trades.loc[df_trades['type']=='open_long','pnl'] = -(df_trades['open_price'] - df_trades['close_price'])
df_trades.mean()

pos                  0.000000
open_price        2732.949476
close_price       2734.904321
price_max         2743.897261
price_min         2723.981722
open_pct_diff       -0.002846
close_pct_diff      -0.002463
pnl                  6.896534
edge                10.170260
dtype: float64

In [58]:
df_trades.sort_values(by='pnl')
df_trades

,pos,open_time,close_time,open_price,close_price,price_max,price_min,type,open_pct_diff,close_pct_diff,pnl,edge
0,0,NaN,NaN,NaN,NaN,1574.89,1574.89,NaN,NaN,NaN,0,NaN
1,0,2021-03-03 19:33:35,2021-03-03 19:53:35,1574.89,1548.77,1576.94,1548.77,open_short,0.002662,-0.005247,26.1205,4.18069
2,0,2021-03-03 19:53:35,2021-03-03 19:53:35,1548.77,1553.65,1558.37,1548.77,open_long,-0.005247,-0.002116,4.87569,8.1698
3,0,2021-03-03 19:53:35,2021-03-03 19:53:50,1558.37,1552.23,1558.37,1549.67,open_short,0.000920,-0.003023,6.13988,1.43266
4,0,2021-03-03 19:54:25,2021-03-03 20:21:30,1556.91,1552.69,1565.29,1552.36,open_short,0.000841,-0.003081,4.21707,1.3086
...,...,...,...,...,...,...,...,...,...,...,...,...
15666,0,2021-06-04 07:11:20,2021-06-04 07:12:15,2616.85,2618.33,2621.13,2601.62,open_long,-0.005871,-0.002122,1.47734,15.4553
15667,0,2021-06-04 07:16:15,2021-06-04 07:17:55,2601.62,2609.51,2621.25,2601.62,open_long,-0.005939,-0.001756,7.89163,15.542
15668,0,2021-06-04 07:25:35,2021-06-04 07:26:05,2613.59,2613.39,2617.65,2608.84,open_long,-0.005331,-0.001354,-0.206591,14.0077
15669,0,2021-06-04 07:26:35,2021-06-04 07:27:10,2617.65,2617.91,2650.85,2615.27,open_short,0.000275,-0.002991,-0.256451,0.718961
15670,0,2021-06-04 09:05:00,2021-06-04 09:19:35,2649.26,2663.96,2670.21,2647.17,open_long,-0.005335,-0.001420,14.7022,14.2091

In [59]:
df

,close_dt_pst,tsec,next_dt,close,price,close_next,price_chg,price_diff,pct_diff
0,2021-03-03 19:33:00,35.0,2021-03-03 19:35:00,1570.71,1574.890688,1574.48,3.77,4.180688,0.002662
1,2021-03-03 19:33:00,35.0,2021-03-03 19:35:00,1570.71,1572.839180,1574.48,3.77,2.129180,0.001356
2,2021-03-03 19:35:00,15.0,2021-03-03 19:37:00,1574.48,1576.943434,1572.93,-1.55,2.463434,0.001565
3,2021-03-03 19:36:00,0.0,2021-03-03 19:38:00,1571.98,1574.888450,1572.30,0.32,2.908450,0.001850
5,2021-03-03 19:39:00,0.0,2021-03-03 19:41:00,1569.15,1573.588614,1565.59,-3.56,4.438614,0.002829
...,...,...,...,...,...,...,...,...,...
298722,2021-06-04 10:10:00,30.0,2021-06-04 10:12:00,2672.14,2668.916576,2672.98,0.84,-3.223424,-0.001206
298720,2021-06-04 10:10:00,35.0,2021-06-04 10:12:00,2672.14,2665.754865,2672.98,0.84,-6.385135,-0.002390
298719,2021-06-04 10:10:00,50.0,2021-06-04 10:12:00,2672.14,2668.603041,2672.98,0.84,-3.536959,-0.001324
298724,2021-06-04 10:11:00,5.0,2021-06-04 10:13:00,2671.23,2666.202389,2671.99,0.76,-5.027611,-0.001882
298725,2021-06-04 10:13:00,15.0,2021-06-04 10:15:00,2671.99,2667.291504,2673.13,1.14,-4.698496,-0.001758